body{
    background-color: rgb(125, 157, 37);
}

nav{
    margin-left: auto;
    margin-right: auto;
}

#canvas1{
    border: 5px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

